In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import re

In [3]:
hotels=pd.read_csv("C:/Users/omar/Downloads/zomato.csv")

In [4]:
hotels.head()

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [7]:
##Task1 Removing unwanted columns

hotels.drop(columns=["address", "phone"], inplace=True)

In [15]:
##Task2 Rename columns

hotels.rename(columns={"rate":"rating", "approx_cost(for two people)":"approx_cost", "listed_in(type)":"type"},inplace=True)

In [16]:
hotels.columns

Index(['name', 'online_order', 'book_table', 'rating', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost', 'type'],
      dtype='object')

In [19]:
##Task3 Handling null values
hotels.isna().sum()

name               16
online_order       19
book_table         58
rating           7838
votes              78
location          126
rest_type         338
dish_liked      28225
cuisines          203
approx_cost       521
type             4610
dtype: int64

In [25]:
# Handling null values
hotels.dropna(subset=['name'],inplace=True)
hotels['online_order']=hotels['online_order'].fillna('NA')
#handling null values of book_table
hotels['book_table']=hotels['book_table'].fillna('NA')
#handling null values of rating
hotels['rating']=hotels['rating'].fillna(0)
#handling null values of votes
hotels['votes']=hotels['votes'].fillna(0)
#handling null values of location
hotels['location']=hotels['location'].fillna('NA')
#handling null values of rest_type
hotels['rest_type']=hotels['rest_type'].fillna('NA')
#handling null values of dishliked
hotels['dish_liked']=hotels['dish_liked'].fillna('NA')
#handling null values of cuisines
hotels['cuisines']=hotels['cuisines'].fillna('NA')
#handling null values of approxcost
hotels['approx_cost']=hotels['approx_cost'].fillna(0)
#handling null values of type
hotels['type']=hotels['type'].fillna('NA')

In [26]:
hotels.isna().sum()

name            0
online_order    0
book_table      0
rating          0
votes           0
location        0
rest_type       0
dish_liked      0
cuisines        0
approx_cost     0
type            0
dtype: int64

In [27]:
## task4 Identifying Duplicate Data 
hotels.drop_duplicates(inplace=True)

In [28]:
## task5 Text cleaning 
#Remove irrelevant text
hotels = hotels[hotels['name'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['online_order'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['book_table'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['rating'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['votes'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['location'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['rest_type'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['dish_liked'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['cuisines'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['approx_cost'].str.contains('rated', case=False)==False]
hotels = hotels[hotels['type'].str.contains('rated', case=False)==False]

In [29]:
hotels

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
...,...,...,...,...,...,...,...,...,...,...,...
56244,The Farm House Bar n Grill,No,No,3.7 /5,34,Whitefield,"Casual Dining, Bar",NA,"North Indian, Continental",800,Pubs and bars
56246,Bhagini,No,No,2.5 /5,81,Whitefield,"Casual Dining, Bar","Biryani, Andhra Meal","Andhra, South Indian, Chinese, North Indian",800,Pubs and bars
56247,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,Whitefield,Bar,NA,Continental,"1,500",Pubs and bars
56250,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars
56251,The Nest - The Den Bengaluru,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining",NA,"Finger Food, North Indian, Continental","1,500",Pubs and bars

In [33]:
## task6 uniqueness of values check and  handle any irrelevant data
correct_values=['No','Yes']
hotels=hotels.drop(hotels[~(hotels['online_order'].isin(correct_values))].index.tolist())
hotels['online_order'].value_counts()

Yes    19519
No     10817
Name: online_order, dtype: int64

In [34]:
hotels = hotels[~hotels['rating'].str.contains('[a-zS]')]
hotels['rating'] = hotels['rating'].replace(['-', 'NEW'], '0')
hotels['rating'] = hotels['rating'].str.replace('/5', '')
def convert_to_int(x):
    if x == '0':
        return 0
    else:
        return x

hotels['rating'] = hotels['rating'].apply(convert_to_int)

In [35]:
hotels['rating'].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', 0, '2.9', '3.5', '2.6',
       '3.8 ', '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2', '2.3',
       '3.4 ', '3.6 ', '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ', '3.7 ',
       '3.1 ', '2.9 ', '3.3 ', '2.8 ', '3.5 ', '2.7 ', '2.5 ', '3.2 ',
       '2.6 ', '4.5 ', '4.3 ', '4.4 ', '4.9', '2.1', '2.0', '1.8', '4.6 ',
       '4.9 ', '3.0 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ', '2.2 ',
       '2.0 ', '1.8 '], dtype=object)

In [36]:
# Remove unknown character
hotels['name'] = hotels['name'].str.replace('[Ãx][^A-Za-z]+','',regex=True)

In [38]:
hotels.shape

(30336, 11)